<article class="p-6 rounded-xl flex gap-4 flex-row items-start sm:space-x-4">
  <div class="flex-shrink-0 mb-4 sm:mb-0">
    <load
      src="../../public/icons/{=$icon}.svg"
      icon="icons/graduation-cap.svg"
      color="{=$color}"
    />
  </div>
  <div class="flex-grow w-full">
    <h2 class="text-xl md:text-2xl uppercase font-bold text-white mb-2 break-words text-left  hyphens-auto">
      {=$title}
    </h2>
    <p class="text-white break-words hyphens-auto">{=$text}</p>
  </div>
</article>